INIT_USER={"id":0,"name":"","birthdate":946684800000,"deseaseHistory":"","threatmentHistory":""}
SYMPTOMS_TYPES=bool,grade,numeric,marker,custom
DOC_TYPES=Гистология,Иммуногистохимия,Хирургические операции,Консилиумы,Генетическое тестирование,Обследования,Результаты анализов
BOOL_SYMPTOMS_NAMES=Аритмия,Тахикардия,Хрипы,Бронхоспазм,Тревожность,Рвота,Неоформленный стул,Запор,Нейродермит,Стоматит,Снижение либидо
GRADE_SYMPTOMS_NAMES=Боли у сердца,Одышка,Кашель,Депрессия,Спутанность сознания,Прилив жара,Покраснение лица,Чрезмерное потоотделение,Головная боль,Головокружение,Слабость/утомляемость,Нарушения сна,Сонливость,Тошнота,Метеоризм,Боли в животе,Периферическая невропатия
NUM_SYMPTOMS_NAMES=Температура,Масса тела,Кровяное давление,Уровень сахара,Гемоглобин,Пульс
MARKER_SYMPTOMS_NAMES=Хромографин,Панкреатический полипептид,Нейронспецифическая энолаза,Хорионический гонадотропин,Серотонин,5-окси-3-индолилуксусная кислота,Гистамин,Вазоактивный интестинальный полипептид,Соматостатин,Глюкагон,Гастрин,Кальцитонин,Синаптофизин
WEB_INFO=https://un1c0re.github.io/cancer-neo/
WEB_SERVER_ADDRESS=https://your_domain.com/