---
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <title>Все о НЭО</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cancer-neo/styles/global.css" />
    <link rel="shortcut icon" href="/cancer-neo/images/cancer-neo.png" />
  </head>
  <body class="flex flex-col items-center justify-between gap-10">
    <header
      class="article-header w-full h-14 px-10 py-4 rounded-b-xl  grid grid-cols-3 items-top"
    >
      <div class="text-2xl text-start col-span-1">
        <a href="/cancer-neo">
          <img
            src="/cancer-neo/leftarrow.svg"
            alt="Назад"
            width="36"
            height="36"
            decoding="async"
            loading="lazy"
          />
        </a>
      </div>
      <div class="text-3xl text-center col-span-1 text-nowrap">
        <h1>Все о НЭО</h1>
      </div>
    </header>
    <main class="article-reader gap-10 w-11/12 p-6 ">
      <div class="flex flex-col items-center self-center">
        <h1 class="font-bold text-3xl">{frontmatter.title}</h1>
        <h1 class="font-bold text-xl">{frontmatter.excerpt}</h1>
      </div>
      <div class="post-content">
        <div class="content">
          <slot />
        </div>
      </div>
    </main>
    <div style="margin-top: 20px"></div>
  </body>
</html>

<style>
  body {
    background: rgb(226, 247, 254);
  }

  .article-header {
    background: rgb(96, 140, 193);
    color: white;
  }
  .article-reader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
</style>
