---

---

<html>
  <head>
    <title>Все о НЭО</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cancer-neo/styles/global.css" />
  </head>
  <body
    class="flex flex-col items-center justify-between gap-10 overflow-x-hidden"
  >
    <header
      class="main-header w-full h-16 text-center px-10 py-4 rounded-b-lg"
    >
      <h1 class="text-3xl">Все о НЭО</h1>
    </header>
    <main class="flex flex-col items-center justify-between gap-10">
      <slot />
    </main>
  </body>
</html>

<style>
  body {
    background: rgb(226, 247, 254);
  }

  .main-header {
    background: rgb(96, 140, 193);
    color: white;
  }
</style>
